$dark-mode-bg: hsl(209, 26%, 17%);
$dark-mode-elem: hsl(209, 23%, 22%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-bg: hsl(0, 0%, 98%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);

$dark-gray: #969696;
$dark-gray--shade: hsl(0, 0%, 17%);
